<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        {% load static %}
        <link rel="stylesheet" href="{% static 'blog/css/style_base.css' %}" />
        <title>{% block title %}Snake Web{% endblock %}</title>
    </head>
    <body>
      <div class="nav_background" />

      <a href="/blog/test">
        <img src="{% static 'blog/img/logo_header.png' %}" class="logo_header"/>
      </a>

      <div class="article_resume">
        <img src="{% static 'blog/img/image_article.png' %}" class="image_article" />
        <h1>
          titre article
        </h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum odio id est vulputate, et malesuada diam tincidunt. Proin semper condimentum malesuada. Ut finibus lacus orci, id venenatis odio pulvinar et. Maecenas pellentesque congue risus quis bibendum. Proin congue consequat fermentum. Nulla pharetra mattis dui, sed pharetra arcu placerat et. Suspendisse sollicitudin eget eros quis ullamcorper. Maecenas luctus rutrum risus vel commodo. Nulla facilisi.

          Morbi sollicitudin libero elit, scelerisque dictum tellus maximus quis. Quisque tristique ipsum at hendrerit imperdiet. Donec sed magna vitae neque scelerisque molestie. Proin dapibus aliquam nisl in dignissim. Praesent consectetur ipsum et nisl vulputate, at efficitur ex consequat. Quisque tempus lorem nulla, ac bibendum ex ullamcorper sed. Pellentesque sem risus, volutpat eu ullamcorper eu, dictum non nisi. Pellentesque orci lectus, convallis ac tincidunt vel, finibus at tellus. Sed molestie, justo sit amet interdum placerat, mi odio posuere risus, quis volutpat velit arcu ut libero. Ut in vulputate mi, ac mollis turpis. Maecenas non mi et nulla sagittis eleifend et vel diam. Ut vel justo nunc. Vivamus vitae venenatis eros, eu cursus tortor. Integer auctor porta nisl non interdum. Sed in porttitor purus, ultricies hendrerit felis. Pellentesque tincidunt sapien et facilisis pellentesque.

          Phasellus congue sem lectus, id interdum augue suscipit quis. Sed dignissim dignissim ex eget rutrum. Duis et justo neque. Fusce a nibh ac libero porttitor ultricies. Vivamus dapibus, mauris a aliquet hendrerit, justo nisl fringilla felis, in maximus nunc ligula at metus. Morbi condimentum eget diam eu finibus. Quisque non egestas erat. Donec ac finibus velit. Donec iaculis orci in purus sodales, sit amet consectetur enim rutrum. Ut vulputate libero leo, sit amet lobortis libero aliquet pellentesque. Vivamus gravida justo nisi, nec mattis lorem feugiat scelerisque. Nullam a accumsan dui, eu sollicitudin justo.

          Integer commodo rutrum vulputate. Mauris nec condimentum ex. Morbi posuere pharetra lorem a gravida. Aliquam erat volutpat. Pellentesque ac nunc vel nisi blandit commodo. Cras a tristique ante. Sed quis felis sit amet dolor fermentum interdum. Pellentesque mattis, tortor non sodales scelerisque, nisl ipsum placerat odio, eu pharetra purus eros a turpis. Sed id tellus mauris. Praesent sagittis elit non elit facilisis pretium. Vivamus congue nisl et interdum vulputate. Donec molestie ultrices ipsum, ultrices sagittis augue dignissim ut. Phasellus rutrum, augue vitae fringilla dictum, justo turpis mattis magna, sit amet mattis lacus sem in nibh. Cras scelerisque placerat mi eu dignissim. Sed laoreet tempor ex, id placerat dolor consectetur faucibus.

          Cras interdum orci non sapien rutrum laoreet. Morbi venenatis, enim ut finibus fermentum, nisi massa accumsan nisl, rhoncus faucibus velit velit non orci. Aliquam blandit ex id vestibulum suscipit. Nam et diam massa. Nam et ullamcorper nisl, id consequat tortor. Nam euismod commodo enim ultrices sodales. Vivamus pellentesque risus faucibus lacinia interdum. Nunc justo diam, facilisis sed ex finibus, aliquet eleifend orci. Donec dolor orci, laoreet nec mauris at, tincidunt cursus urna. Duis faucibus arcu quis sem facilisis auctor. Phasellus sed ex vel augue finibus convallis.
        </p>
      </div>

    </body>
</html>
